function Player.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 2
pop this 5
push constant 0
pop this 4
push pointer 0
call Player.draw 1
pop temp 0
push constant 3
call Array.new 1
pop this 0
push pointer 0
return
function Player.getY 0
push argument 0
pop pointer 0
push this 2
return
function Player.getX 0
push argument 0
pop pointer 0
push this 1
return
function Player.getSize 0
push argument 0
pop pointer 0
push this 5
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push this 5
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Player.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push this 5
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Player.incSize 0
push argument 0
pop pointer 0
push this 2
push this 5
add
push constant 254
lt
push this 1
push this 5
add
push constant 510
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.erase 1
pop temp 0
push this 5
push constant 2
add
pop this 5
push pointer 0
call Player.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.decSize 0
push argument 0
pop pointer 0
push this 5
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.erase 1
pop temp 0
push this 5
push constant 2
sub
pop this 5
push pointer 0
call Player.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveUp 0
push argument 0
pop pointer 0
push this 2
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 5
add
push constant 1
sub
push this 1
push this 5
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push this 2
push constant 2
sub
pop this 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push this 5
add
push this 2
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveDown 0
push argument 0
pop pointer 0
push this 2
push this 5
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push this 5
add
push this 2
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 2
push constant 2
add
pop this 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 5
add
push constant 1
sub
push this 1
push this 5
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveLeft 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 5
add
push constant 1
sub
push this 2
push this 1
push this 5
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push constant 1
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.movePlayer 0
push argument 0
pop pointer 0
push argument 1
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 4
label IF_FALSE0
push argument 1
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop this 4
label IF_FALSE1
push argument 1
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop this 4
label IF_FALSE2
push argument 1
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop this 4
label IF_FALSE3
push this 4
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Player.moveUp 1
pop temp 0
label IF_FALSE4
push this 4
push constant 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Player.moveDown 1
pop temp 0
label IF_FALSE5
push this 4
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE6
push this 4
push constant 4
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Player.moveRight 1
pop temp 0
label IF_FALSE7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
push this 0
add
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push this 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Player.moveRight 0
push argument 0
pop pointer 0
push this 1
push this 5
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push constant 1
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 5
add
push constant 1
sub
push this 2
push this 1
push this 5
add
push this 2
push this 5
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
