function Card.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push constant 0
not
pop this 4
push argument 4
pop this 5
push constant 0
not
pop this 6
push pointer 0
return
function Card.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Card.getIsDown 0
push argument 0
pop pointer 0
push this 4
return
function Card.setIsDown 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Card.toggleIsDown 0
push argument 0
pop pointer 0
push this 4
not
pop this 4
push constant 0
return
function Card.getIsInPlay 0
push argument 0
pop pointer 0
push this 6
return
function Card.setIsInPlay 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Card.toggleIsInPlay 0
push argument 0
pop pointer 0
push this 6
not
pop this 6
push constant 0
return
function Card.getX 0
push argument 0
pop pointer 0
push this 0
return
function Card.getY 0
push argument 0
pop pointer 0
push this 1
return
function Card.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Card.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Card.getWidth 0
push argument 0
pop pointer 0
push this 2
return
function Card.setWidth 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Card.getHeight 0
push argument 0
pop pointer 0
push this 3
return
function Card.setHeight 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Card.getValue 0
push argument 0
pop pointer 0
push this 5
return
function Card.setValue 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function Card.render 4
push argument 0
pop pointer 0
push this 0
pop local 0
push this 1
pop local 1
push this 0
push this 2
add
pop local 2
push this 1
push this 3
add
pop local 3
push local 2
push local 0
gt
push local 3
push local 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Card.drawRectangle 5
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
push local 0
push local 1
push local 2
push local 3
push constant 2
call Card.drawRectangleOutline 6
pop temp 0
push pointer 0
call Card.drawValue 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Card.drawRectangleOutline 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
push argument 3
push argument 2
push argument 5
add
call Card.drawRectangle 5
pop temp 0
push pointer 0
push argument 3
push argument 5
sub
push argument 2
push argument 5
add
push argument 3
push argument 4
call Card.drawRectangle 5
pop temp 0
push pointer 0
push argument 1
push argument 4
push argument 5
sub
push argument 3
push argument 5
sub
push argument 4
call Card.drawRectangle 5
pop temp 0
push pointer 0
push argument 1
push argument 2
push argument 5
add
push argument 1
push argument 5
add
push argument 4
push argument 5
sub
call Card.drawRectangle 5
pop temp 0
push constant 0
return
function Card.drawRectangle 0
push argument 0
pop pointer 0
push argument 3
push argument 1
gt
push argument 4
push argument 2
gt
and
push argument 1
push constant 0
gt
and
push argument 2
push constant 0
gt
and
push argument 3
push constant 512
lt
and
push this 3
push constant 256
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
push argument 3
push argument 4
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Card.drawValue 5
push argument 0
pop pointer 0
push constant 5
pop local 4
push this 5
push constant 1
eq
push this 5
push constant 3
eq
or
push this 5
push constant 5
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 2
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 0
push this 1
push this 3
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 1
push local 0
push local 4
add
pop local 2
push local 1
push local 4
add
pop local 3
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Card.drawRectangle 5
pop temp 0
label IF_FALSE0
push this 5
push constant 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 2
push constant 2
call Math.divide 2
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 0
push this 1
push this 3
push constant 2
call Math.divide 2
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 1
push local 0
push local 4
add
pop local 2
push local 1
push local 4
add
pop local 3
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Card.drawRectangle 5
pop temp 0
push local 0
push this 2
push constant 2
call Math.divide 2
add
pop local 0
push local 1
push this 3
push constant 2
call Math.divide 2
add
pop local 1
push local 0
push local 4
add
pop local 2
push local 1
push local 4
add
pop local 3
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Card.drawRectangle 5
pop temp 0
label IF_FALSE1
push this 5
push constant 3
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 2
push constant 2
call Math.divide 2
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 0
push local 0
push this 2
push constant 2
call Math.divide 2
add
pop local 0
push this 1
push this 3
push constant 2
call Math.divide 2
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 1
push local 0
push local 4
add
pop local 2
push local 1
push local 4
add
pop local 3
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Card.drawRectangle 5
pop temp 0
push this 0
push this 2
push constant 2
call Math.divide 2
push local 4
sub
push constant 2
call Math.divide 2
add
pop local 0
push local 1
push this 3
push constant 2
call Math.divide 2
add
pop local 1
push local 0
push local 4
add
pop local 2
push local 1
push local 4
add
pop local 3
push pointer 0
push local 0
push local 1
push local 2
push local 3
call Card.drawRectangle 5
pop temp 0
label IF_FALSE2
push constant 0
return
