function MatchGame.new 4
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 10
pop this 2
push this 2
call Array.new 1
pop this 1
push constant 0
pop this 3
push constant 0
pop this 5
push constant 2
call Array.new 1
pop this 4
push constant 1
neg
pop this 6
push constant 1
call Random.new 1
pop this 8
push this 2
call Array.new 1
pop local 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 1
label WHILE_EXP1
push local 1
push constant 5
gt
not
if-goto WHILE_END1
push local 1
push constant 5
sub
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push local 3
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 2
push constant 1
sub
pop local 0
label WHILE_EXP2
push local 0
push constant 0
gt
not
if-goto WHILE_END2
push this 8
push constant 0
push local 0
push constant 1
add
call Random.nextIntInRange 3
pop local 1
push local 0
push local 3
add
pop pointer 1
push that 0
pop local 2
push local 0
push local 3
add
push local 1
push local 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push local 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push this 2
lt
not
if-goto WHILE_END3
push local 0
push local 3
add
pop pointer 1
push that 0
pop local 1
push local 0
pop local 2
label WHILE_EXP4
push local 2
push constant 5
gt
push local 2
push constant 5
eq
or
not
if-goto WHILE_END4
push local 2
push constant 5
sub
pop local 2
goto WHILE_EXP4
label WHILE_END4
push local 0
push this 1
add
push constant 118
push local 2
push constant 55
call Math.multiply 2
add
push constant 53
push local 0
push constant 5
call Math.divide 2
push constant 75
call Math.multiply 2
add
push constant 35
push constant 55
push local 1
call Card.new 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP3
label WHILE_END3
push local 3
call Array.dispose 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP5
push local 0
push constant 2
lt
not
if-goto WHILE_END5
push local 0
push this 4
add
call CardAnimation.new 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP5
label WHILE_END5
push constant 0
push constant 0
push constant 35
push constant 10
add
push constant 55
push constant 10
add
push constant 0
call Card.new 5
pop this 7
push this 7
push constant 0
call Card.setIsDown 2
pop temp 0
push pointer 0
call MatchGame.updateSelectionCardOffset 1
pop temp 0
push pointer 0
call MatchGame.render 1
pop temp 0
push pointer 0
return
function MatchGame.dispose 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Card.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 1
call Array.dispose 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 2
push local 2
call CardAnimation.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push this 4
call Array.dispose 1
pop temp 0
push this 8
call Random.dispose 1
pop temp 0
push this 7
call Card.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function MatchGame.updateSelectionCardOffset 1
push argument 0
pop pointer 0
push this 3
push constant 0
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push this 1
add
pop pointer 1
push that 0
pop local 0
push this 7
push local 0
call Card.getX 1
push constant 5
sub
call Card.setX 2
pop temp 0
push this 7
push local 0
call Card.getY 1
push constant 5
sub
call Card.setY 2
pop temp 0
push this 7
call Card.render 1
pop temp 0
label IF_FALSE0
push constant 0
return
function MatchGame.render 2
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Card.render 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 3
push constant 0
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
call Card.render 1
pop temp 0
label IF_FALSE0
push constant 0
return
function MatchGame.getNextAvailableCard 4
push argument 0
pop pointer 0
push constant 1
neg
pop local 3
push this 3
push constant 1
add
pop local 0
push local 0
push this 2
gt
push local 0
push this 2
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
pop local 1
label WHILE_EXP0
push local 1
push this 2
lt
not
if-goto WHILE_END0
push local 1
push this 3
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
call Card.getIsInPlay 1
push local 3
push constant 0
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
pop local 3
label IF_FALSE2
push local 1
push constant 1
add
pop local 1
push local 1
push this 2
gt
push local 1
push this 2
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 1
label IF_FALSE3
goto IF_END1
label IF_FALSE1
push this 2
push constant 1
add
pop local 1
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push local 3
return
function MatchGame.updateAnimations 6
push argument 0
pop pointer 0
push pointer 0
call MatchGame.isAnimating 1
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 2
lt
not
if-goto WHILE_END0
push local 1
push this 4
add
pop pointer 1
push that 0
pop local 3
push local 3
push this 1
call CardAnimation.update 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push pointer 0
call MatchGame.isAnimating 1
not
push local 0
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
call Card.getValue 1
pop local 4
push this 6
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
call Card.getValue 1
pop local 5
push local 4
push local 5
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
call Card.setIsInPlay 2
pop temp 0
push this 6
push this 1
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 0
call Card.setIsInPlay 2
pop temp 0
push pointer 0
call MatchGame.getNextAvailableCard 1
pop this 3
push pointer 0
call MatchGame.updateSelectionCardOffset 1
pop temp 0
push this 3
push constant 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop this 0
label IF_FALSE4
goto IF_END3
label IF_FALSE3
push this 3
push this 1
add
pop pointer 1
push that 0
pop local 2
push constant 1
push this 4
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 0
push local 2
call Card.getX 1
push this 3
call CardAnimation.startNew 4
pop temp 0
push this 6
push this 1
add
pop pointer 1
push that 0
pop local 2
push constant 0
push this 4
add
pop pointer 1
push that 0
pop local 3
push local 3
push constant 0
push local 2
call Card.getX 1
push this 6
call CardAnimation.startNew 4
pop temp 0
label IF_END3
push constant 0
pop this 5
push constant 1
neg
pop this 6
label IF_FALSE2
label IF_FALSE1
push constant 0
return
function MatchGame.updateAndRender 0
push argument 0
pop pointer 0
push pointer 0
call MatchGame.updateAnimations 1
pop temp 0
push pointer 0
call MatchGame.render 1
pop temp 0
push constant 0
return
function MatchGame.isAnimating 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 2
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 1
call CardAnimation.getIsAnimating 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 2
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
function MatchGame.run 6
push argument 0
pop pointer 0
label WHILE_EXP0
push this 0
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
push this 0
not
and
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call MatchGame.updateAndRender 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push pointer 0
call MatchGame.isAnimating 1
not
push this 0
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
push constant 0
lt
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
push this 3
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push this 1
add
pop pointer 1
push that 0
pop local 4
push constant 1
push this 4
add
pop pointer 1
push that 0
pop local 5
push local 5
push constant 0
push local 4
call Card.getX 1
push this 3
call CardAnimation.startNew 4
pop temp 0
push constant 2
pop this 5
label IF_FALSE3
goto IF_END2
label IF_FALSE2
push this 3
pop this 6
push this 3
push this 1
add
pop pointer 1
push that 0
pop local 4
push constant 0
push this 4
add
pop pointer 1
push that 0
pop local 5
push local 5
push constant 0
push local 4
call Card.getX 1
push this 3
call CardAnimation.startNew 4
pop temp 0
push constant 1
pop this 5
label IF_END2
goto IF_END1
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call MatchGame.getNextAvailableCard 1
pop this 3
push pointer 0
call MatchGame.updateSelectionCardOffset 1
pop temp 0
push this 3
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop this 0
label IF_FALSE5
label IF_FALSE4
label IF_END1
label IF_FALSE0
push local 0
push constant 140
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
pop this 0
label IF_FALSE6
label WHILE_EXP2
push local 0
push constant 0
eq
not
push this 0
not
and
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call MatchGame.updateAndRender 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push this 0
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 18
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE7
push constant 0
return
